<div class="subNav">
  <h3>Shopping Cart</h3>
</div>
<ul>
  {{#each shoppingCart.items as |item|}}
    <li class="cartItem">{{item.name}} -- ${{item.price}}.00</li><br>
    <button {{action 'remove' item}}>Remove from Cart</button><br>
  {{/each}}
  <p><strong>Total Price:</strong> ${{total-price shoppingCart.items}}.00</p>
</ul>
