body, html {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.headerBar {
  background-color: lightgrey;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.productTile {
  display: flex;
  h3 {
    padding-left: 2%;
  }
  .productImage {
    width: 300px;
    img {
      width: 100%;
    }
  }
}
