// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body::-webkit-scrollbar {
  display: none;
}
body, html {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.fa {
  border: 1px solid tomato;
  color: black;
}
