<div class="addressSection">  
  <div class="addressInfo">
    <h3>J Crew Corporate Address:</h3>
    <h6>Jcrew Headquarters</h6>
    <h6>123 Main St.</h6>
    <h6>Portland, OR 97201</h6>
  </div>
  <div class="mapInfo">
    {{google-map}}
  </div>
</div>
