// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.editReviews {
  border: 1px solid black;
  padding: 1% 5%;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 10px;
}
