.adminProductTile {
  // border: 2px solid green;
  margin-bottom: 3%;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productTile {
  border: 1px solid lightgrey;
  margin-bottom: 25px;
  .ember-view {
    // border: 2px solid pink;
  }
  display: flex;
  flex-direction: column;
  h3 {
    padding-left: 2%;
  }
  .productImage {
    width: 300px;
    img {
      width: 100%;
    }
  }
}
