.productList {
  // border: 1px solid dodgerblue;
  display: flex;
  flex-wrap: wrap;
}

.productTile {
  display: flex;
  flex-direction: column;
  // border: 1px solid tomato;
  h3 {
    padding-left: 2%;
  }
  .productImage {
    width: 300px;
    img {
      width: 100%;
    }
  }
}
