.logo {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 40px;
  transition: all 300ms linear;
  &:hover {
    transition: all 300ms linear;
    letter-spacing: 4px;
  }
}

.headerBar {
  border-bottom: 2px solid black;
  margin-bottom: 5%;
  padding: 1.5% 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    border-bottom: 2px solid transparent;
    a {
      border: 2px solid transparent;
      padding: 3% 5%;
      transition: all 100ms linear;
      &:hover {
        transition: all 400ms linear;
        border: 2px solid black;
      }
    }
  }
}
