<h1>Admin Page</h1>
<hr>
<div class="productList">
  {{#each model as |product|}}
  <div class="adminProductTile">
    {{product-tile product=product}}
    {{update-product product=product updateProduct="updateProduct"}}
    {{#link-to 'review' product.id}}Edit Reviews{{/link-to}}
    <button {{action 'delete' product}}>Delete</button>
  </div>
  {{/each}}
</div>

<hr>
{{new-product product=model saveProduct="saveProduct"}}
