<h1>Admin Page</h1>
<hr>
{{#each model as |product|}}
  {{product-tile product=product}}
  {{update-product product=product updateProduct="updateProduct"}}
{{/each}}

<hr>
{{new-product product=model saveProduct="saveProduct"}}
