<div class="headerBar">
  <div class="container">
    {{#link-to 'index'}}<h1 class="logo">J.CREW</h1>{{/link-to}}
    <div class="navigation">
      {{#link-to 'cart'}}Shopping Cart{{/link-to}}
      {{#link-to 'admin'}}Admin{{/link-to}}
    </div>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
