<div class="headerBar">
  <div class="container">
    {{#link-to 'index'}}<h2>JCREW</h2>{{/link-to}}
    {{#link-to 'admin'}}Admin{{/link-to}}
    {{#link-to 'cart'}}Shopping Cart{{/link-to}}
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
