<h1>Contact Page</h1>

{{#link-to 'contact.phone'}}Phone Number{{/link-to}} <br>
{{#link-to 'contact.email'}}Email{{/link-to}} <br>
{{#link-to 'contact.address'}}Corporate Address{{/link-to}}

{{outlet}}
